# *vlan*: *subnet*
subnet *base* netmask *mask* {
  option broadcast-address *broadcast*;
  option routers *gateway*;
  option subnet-mask *mask*;
  range dynamic-bootp *firstIP* *lastIP*;

  include "/home/khoa/dhcp/hosts/hosts-*vlan*";
}
