.orgs-container {
  .nav-link {
    cursor: pointer;
    border: none;
    outline: none;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    margin-bottom: 0;
    transition: color 0.1s linear;
  }
}
